.home__text-container {
  display: flex;
  flex-direction: column;
}

.home__heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home__heading-text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #5a2594;
  text-align: left;
}

.home__user-name {
  margin: 0;
  padding: 0;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #1D2027;
}

.home__user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.home__card-user {
  margin-top: 33px;
  background: radial-gradient(82.23% 108.11% at 101.39% 101.07%, #8913c9 0%, #c59fff 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 20px;
  display: flex;
  padding: 5%;
}

.home__gk-logo {
  width: 80px;
}

.home__company-name {
  margin: 0;
  padding: 0;
  text-align: left;
  font-style: italic;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: white;
}

.home__user-fio {
  padding: 0;
  margin: 0 0 11px;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 125%;
  color: #1D2027;
  text-align: left;
}

.home__card-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.home__user-post {
  padding: 0;
  margin: 0;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1D2027;
}

.home__user-department {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #1D2027;
  text-align: left;
  padding: 0;
  margin: 0;
}

.home__notifications {
  width: 100%;
}

.home__notifications-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #1D2027;
  text-align: left;
}

.home__bonus {
  margin-top: 15px;
  width: 100%;
  left: 20px;
  top: 415px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: white;
background: radial-gradient(141.28% 64.17% at 26.57% 19.75%, #494B4E 0%, #1D2027 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border-radius: 16px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__notifications-priority {
  width: 72px;
  height: 72px;
  background: #EFF1F3;
  border-radius: 12px;
}

.home__notifications-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}

.home__notifications-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  max-height: 260px;
  list-style: none;
  padding: 0;
  overflow: scroll;
}

.home__notifications-text {
  flex-grow: 1;
  padding-left: 26px;
}

.home__notifications-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #1D2027;
  margin: 0 0 8px 0;
  text-align: left;
}

.home__notifications-date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
  text-align: left;
}
